.history {
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  width: 300px;
  border-collapse: collapse;
  border-spacing: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 6px;
  background-color: #fff;
}

.thead {
  background-color: #63c6d7;
}

.trow:nth-child(2n) {
  background: #e2eaec;
}

.tcell {
  padding: 10px 5px;
  border: 1px solid #d3d3d3;
  border-top: none;
  border-left: none;
  text-align: center;
}

th:last-child {
  border-right: none;
}
